<link
    id="katex-stylesheet"
    rel="stylesheet"
    href="{{ '/assets/katex-v0.16.27/katex.min.css' | relative_url }}"
/>
<link
    rel="icon"
    type="image/x-icon"
    href="{{ '/assets/icons/favicon.ico' | relative_url }}"
/>
<link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}"
/>
<link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}"
/>
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}"
/>
<link rel="manifest" href="{{ '/assets/site.webmanifest' | relative_url }}" />
