:root {
    --font-family-sans-serif: 思源黑体, Microsoft YaHei UI, 苹方, sans-serif;
    --navbar-bg-color: #333c54c4;
}

[data-user-color-scheme="dark"] {
    --navbar-bg-color: #333c54c4;
}

.navbar {
    padding: 5px 15px !important;
}

.navbar.top-nav-collapse,
.navbar.navbar-col-show {
    backdrop-filter: blur(50px);
}

.navbar:not(.top-nav-collapse):not(.navbar-col-show) {
    background: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar.scrolling-navbar {
    transition: background 0.4s ease-in-out, backdrop-filter 0.4s ease-in-out,
        box-shadow 0.4s ease-in-out, padding 0.4s ease-in-out;
}

#scroll-top-button i {
    font-size: 20px;
}

.navbar .animated-icon {
    width: 25px;
    height: 15px;
}

.navbar .animated-icon {
    width: 25px;
    height: 20px;
}

.navbar .animated-icon span:nth-child(2) {
    top: 8px;
}

.navbar .animated-icon span:nth-child(3) {
    top: 16px;
}

.footer-inner {
    padding: 3rem 2rem 2rem 3rem;
    text-align: right;
}

@media (max-width: 576px) {
    :root {
        --body-bg-color: var(--board-bg-color);
    }
    #board {
        border-radius: 0px;
        box-shadow: none;
    }
}
